


    <section class="section-content padding-y">
        <div><h1 class="d-flex justify-content-center">3 results for “searchText”</h1></div>
        <div class="container">
        
        <div class="row">
        <main class="col-md-9">
        <!--Sort-->
        

        <!--End sort .//-->
        </section>
        <div class="d-flex justify-content-center">
            <div class="col-md-10">
                <!--Course-->
                 <form action="/cart/add" method="post" id="frmAddCourse">
                <input type="hidden" name="" id="">
                </form>
                    <div class="row p-2 bg-white border rounded mt-2">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../img/onlCourse.jpg"></div>
                    <div class="col-md-6 mt-1">
                        <h5>Tên vật phẩm</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>(Soluong)</span>
                        </div>
                        <div><b>Người bán</b></div>
                        <p class="text-justify text-truncate para mb-0">Mô tả<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                        </div>
                        <div class="d-flex flex-column mt-4"><a href ="#"class="btn btn-primary" type="button"><i class="fa fa-eye" aria-hidden="true"></i>Details</a><a class="btn btn-outline-danger mt-2 addCourse" data-id="IdItem" href="javascript:;" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart</a></div>
                    </div>
                </div>
                
                <!--End course .//-->
               
                <!--End Course .//-->
                <!--Pagination-->
                <div class= "d-flex justify-content-center">
                    <nav class="mt-4" aria-label="Page navigation">
                        <ul class="pagination">
                          <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav>
                </div>
                <!--End Pagination-->
            </div>
            
        </div>