<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Commerce Website</title>

    <!-- link favicon website -->
    <link rel="icon" type="image/png" href="/icons/fav.png" />

    <!-- link font awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- link font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">


    <!-- css resource -->
    {{> css_section}}
    <!-- end css resource -->


    <!-- css section -->
    {{{_sections.css}}}
    <!-- end css section -->


</head>

<body>


    <!-- header -->
    {{> nav}}
    <!-- end header -->

    <!-- body -->
    {{{body}}}
    <!-- end body -->

    <!--footer-->
    {{> footer}}
    <!--end footer-->

    <!--js section-->
    {{{_sections.js}}}
    <!--end js section-->


    <!--js resource-->
    {{> js_section}}
    <!--end js resource-->

</body>

</html>