
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Best Offer</h4>
            {{!-- <h2>New Arrivals On Sale</h2> --}}
            <h2>Sản phẩm đang sale</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Siêu bão quà tặng</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Ship nhanh chớp nhoáng</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- product -->
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Sản phẩm mới nhất</h2>
              <a href="/products">xem thêm sản phẩm <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_01.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$25.75</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
              </div>
                        <div class="mb-3 ml-5">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ </button>
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_02.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$30.25</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
              </div>
                        <div class="mb-3 ml-5">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ </button>
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_03.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$20.45</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (36)</span>
              </div>
                        <div class="mb-3 ml-5">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ </button>
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_04.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$15.25</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (48)</span>
              </div>
                        <div class="mb-3 ml-5">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ </button>
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_05.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$12.50</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (16)</span>
              </div>
                        <div class="mb-3 ml-5">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ </button>
          </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_06.jpg" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$22.50</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (32)</span>
              </div>
                        <div class="mb-3 ml-5">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ </button>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!--end product -->

     <!-- why you choose our company-->
    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Về chúng tôi NKim</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Bạn đang tìm kiếm sản phẩm tốt nhất?</h4>
              <p><a rel="nofollow" href="#" target="_parent"></a> NKim là website thương mại điện tử có thể đáp ứng mọi nhu cầu của bạn và gia đình bạn. Mua hàng ở NKim để có cơ hội nhận được những phần quà giá trị. </p>
              <ul class="featured-list">
                <li><a href="#">Sản phẩm đa dạng phong phú</a></li>
                <li><a href="#">Giá thành rẻ so với thị trường</a></li>
                <li><a href="#">Ship nhanh chớp nhoáng nội thành</a></li>
                <li><a href="#">Chương trình khuyến mãi hấp dẫn</a></li>
                <li><a href="#">Hàng triệu phần quà hấp dẫn</a></li>
              </ul>
              <a href="/about" class="filled-button">Xem thêm</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="/assets/images/feature-image.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- end why you choose our company-->

     <!-- testimonial -->
      <div class="testimonial">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Đánh giá của khách hàng</h2>

              <!-- <a href="/about">read more <i class="fa fa-angle-right"></i></a> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Nam Lê</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Huy Nguyễn</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Thành Trương</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Ngọc Phạm</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Kim Ngân</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Bảo Ngọc</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- testimonial -->

    <div class="call-to-action mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Nhanh tay mua hàng ở  <em>NKim</em> để nhận quà hấp dẫn</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button"> Mua ngay </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    




  </body>





