<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body>
    <div>
        <h4> Giày Thể Thao nam nữ </h4>
        <ul>
            <li> Đủ size Nam nữ : 36 - 43
            </li>
            <li> Cam kết 100% sản phẩm Y HÌNH (hình do shop tự chụp). Tuy nhiên màu sắc có chênh lệch chút ít do ánh
                sáng.
            </li>
            <li> Anh/chị em chọn mẫu rồi chọn đúng size, MUA 2 ĐÔI KHÁC SIZE thì vui lòng cho từng size THÊM VÀO GIỎ
                HÀNG rồi vào giỏ hàng chọn MUA NGAY.
            </li>
        </ul>
    </div>
    <div>
        <h4>
            Mô Tả Sản Phẩm:
        </h4>
        <ul>
            <li>
                Giày được làm bằng 100% chất liệu da thật, mềm và mịn.
            </li>
            <li>
                Phần đế bằng cao su đúc nguyên khối rất chắc chắn và bền.
            </li>
        </ul>
    </div>
</body>

</html>